@media only screen and (max-width: 1635px) {
    .testimonials-card{
        width: 65%;
        gap: 20%;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1300px) {

    .testimonials-cards {
        width: 100%;
    }

    .testimonials-card {
        width: 33%;
    }

    .testimonials {
        width: 80%;
    }

    .merch-cards {
        grid-template-columns: 370px 370px;
        grid-template-rows: 650px 650px 650px;
        width: 840px;
    }

}

@media only screen and (max-width: 950px) {

    #first-container {
        margin-left: 20px;
        margin-right: 75px;
        top: 50px;
    }

    #first-container img {
        top: -110px;
    }
    
    #second-container {
        margin-left: 75px;
        margin-right: 20px;
        top: 110px;
    }

    #second-container img {
        top: -110px;
    }

    #third-container {
        margin-left: 20px;
        margin-right: 75px;
        top: 170px;
    }

    #third-container img {
        top: -110px;
    }

    .testimonials-cards {
        width: 100%;
    }

    .testimonials-card {
        width: 33%;
    }

    .testimonials {
        width: 100%;
    }

    
}

@media only screen and (max-width:750px) {
   
    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }

    .intro-container {
        text-wrap: wrap;
        top: 40%;
    }

    .nav-bar {
        position: relative;
    }

    .footer-links {
        display: none;
    }

    .testimonials-cards {
        width: 100%;
        flex-direction: column;
        margin: 0 0 100px 0;
    }

    .testimonials-card {
        width: 100%;
        margin: 0 0 20px 0;
    }
    
    .testimonials {
        width: 65%;
    }

    .header-index
    {
        height: 65vh;
    }
    
    .testimonials-card p {
        min-height: none;
    }

    .merch-cards {
        grid-template-columns: 370px ;
        grid-template-rows: 650px 650px 650px 650px 650px 650px;
        width: 370px;
    }

}

