* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    background-color: rgb(224, 224, 224);
    margin: 0;
}

.header-index
{
    background-image: url(images/festival.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    
}

.header-tickets
{
    background-image: url(images/festival_short.jpg);
    background-size: cover;
    height: 40vh;
    position: relative;
    
}
   
.intro-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 16px;
    padding: 0 50px 0 50px;
    text-wrap: nowrap;
}

.intro-container h1
{
    font-size: 64px;
}

.intro-container p
{
    font-size:28px;
}

.about-festival, .about-singers
{
    margin: 50px auto 100px ;
    text-align: center;
    font-size: 48px;
}

.about-festival p
{
    font-size: 24px;
    margin: 0;
    padding: 32px;
}

#first-container
{
    background-color: rgb(243, 243, 243);
    width: 700px;
    margin: 110px auto ;
    padding: 30px 24px;
    border-radius: 20px;
    position: relative
}

/* absolutní pozice je vždy vůči nadřazenému elementu, který musí mít pozici relativní*/
/*pokud element s absolutní pozici nemá nadřazený relativní nelement, tak se připne vůči body*/
/*element s absolutní pozicí ignuruje tok dokumentu*/
/*element s relativní pozicí je zahrnut do elementu*/

#first-container img
{
    border-radius: 20px;
    position: absolute;
    right: -10%;
    top: -35%;
}

#second-container
{
    background-color: rgb(243, 243, 243);
    width: 700px;
    margin: 150px auto ;
    padding: 30px 24px;
    border-radius: 20px;
    text-align: right;
    position: relative
}

#second-container img
{
    border-radius: 20px;
    position: absolute;
    left: -10%;
    top: -35%;
}

.testimonials {
    width: 60%;
    text-align: center;
    margin: auto;
}

.testimonials h2 {
    text-align: center;
    font-size: 48px;
}

.testimonials p {
    margin: 0;
}

.testimonials-cards {
    display: flex;
    justify-content: space-between;
}

.testimonials-card {
    width: 25%;
    background-color: white;
    border-radius: 16px;
    padding: 32px 16px 32px 16px;
}

.testimonials-card p {
    font-size: 16px;
    line-height: 1.5;
}

.testimonials-card h3 {
    font-size: 24px;
}

.testimonials-card h4 {
    font-size: 20px;
    color:rgb(138, 138, 138);
    margin: 0 auto;
}

.testimonials-card img {
    border-radius: 100%;
    border: 5px solid rgb(224, 224, 224);
    width: 92px;
    height: 92px;
}

.nav-bar {
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 10px 0 10px 0;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 100%;
    justify-content: space-around;
    padding: 0%;
    margin: 0;
}

.nav-link a {
    text-decoration: none;
    color: rgb(212, 212, 212);
}

.nav-links a:hover {
    color: rgb(184, 183, 183);
}

footer {
    padding: 16px 0 16px 0;
    background-color: rgb(54, 54, 54);;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-icons .fa {
    font-size: 50px;
}

.fa-facebook-f {
    color: #1877F2;
}

.fa-instagram {
    color: #DD2A7B;
}

.fa-youtube-play {
    color: #FF0000;
}

.footer-links {
    color:rgb(212, 212, 212);
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0%;
    gap: 24px;
    font-size: 20px;
}

.copyright {
    color:white;
    text-align: center;
    font-size: 17px; 
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    color:gray;
    
}

.social-icons i:hover {
    color:white;
    
}

.contact

#contact {
    text-align: center;
    font-size: 48px;

}

#contact-form {
    width: 40%;
    margin: auto; 
    text-align: left;
}

input[type="text"], input[type="email"]
{
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

input[type="button"]{
    width: 100%;
    padding: 8px;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 12px;
    background-color: rgb(164, 164, 164);
    color: rgb(250, 250, 250);
    border: none;
}

input[type="button"]:hover {
    background-color: rgb(126, 126, 126);
}

textarea {
    resize: none;
    width: 100%;
    padding: 8px;
    height: 100px;
    margin-top: 8px;
    margin-bottom: 8px;
}

label {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.tickets {
    position: relative;
    text-align: left;
    margin: auto;
    width: 80%;

}

.ticket {
    position: relative;
    text-align: left;
    height: 150px;
    width: 80%;
    margin: auto;
    border-top: black 3px solid;
}

.ticket-img {
    position: absolute;
    margin: auto;
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}

.ticket-btn {
    position: absolute;
    width: 90px;
    height: 40px;
    margin: auto;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(116, 116, 116);
    color: rgb(231, 231, 231);
    border: none;
    font-size: 15px;
}

.ticket-btn:hover {
    background-color: rgb(165, 165, 165);
    color: rgb(220, 220, 220);
}

.ticket-text {
    position: absolute;
    left: 30%;
    top: 30%;
    color: rgb(0, 0, 0);
}

.tickets-headline {
    color: black;
    font-size: 38px;
    margin: 20px 40px 20px 60px;
}

.tickets h3 {
    color: black;
    font-size: 30px;
    margin: 15px 15px 15px 100px
}