* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    background-color: rgb(224, 224, 224);
    margin: 0;
}

.header-index
{
    background-image: url(images/festival.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    
}

.header-tickets
{
    background-image: url(images/festival_short.jpg);
    background-size: cover;
    height: 40vh;
    position: relative;
    
}
   
.intro-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 16px;
    padding: 0 50px 0 50px;
    text-wrap: nowrap;
    max-width: 800px;
}

.intro-container h1
{
    font-size: 64px;
}

.intro-container p
{
    font-size:28px;
}

.about-festival, .about-singers
{
    margin: 50px auto 100px ;
    text-align: center;
    font-size: 48px;
}

.about-festival p
{
    font-size: 24px;
    margin: 0;
    padding: 32px;
}

.singers-container
{
    display: flex;
    flex-direction: column;
}

#first-container
{
    background-color: rgb(243, 243, 243);
    max-width: 700px;
    margin: 110px auto ;
    padding: 30px 24px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* absolutní pozice je vždy vůči nadřazenému elementu, který musí mít pozici relativní*/
/*pokud element s absolutní pozici nemá nadřazený relativní nelement, tak se připne vůči body*/
/*element s absolutní pozicí ignuruje tok dokumentu*/
/*element s relativní pozicí je zahrnut do elementu*/

#first-container img
{
    border-radius: 20px;
    position: absolute;
    right: -10%;
    top: -35%;
}

#second-container
{
    background-color: rgb(243, 243, 243);
    max-width: 700px;
    margin: 150px auto ;
    padding: 30px 24px;
    border-radius: 20px;
    text-align: right;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#second-container img
{
    border-radius: 20px;
    position: absolute;
    left: -10%;
    top: -35%;
}

#third-container
{
    background-color: rgb(243, 243, 243);
    max-width: 700px;
    margin: 150px auto ;
    padding: 30px 24px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#third-container img
{
    border-radius: 20px;
    position: absolute;
    right: -10%;
    top: -35%;
}

.testimonials {
    width: 60%;
    text-align: center;
    margin: auto;
}

.testimonials h2 {
    text-align: center;
    font-size: 48px;
}

.testimonials p {
    margin: 0;
}

.testimonials-cards {
    display: flex;
    justify-content: space-between;
    margin: auto auto 100px auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.testimonials-card {
    width: 25%;
    background-color: white;
    border-radius: 16px;
    padding: 32px 16px 32px 16px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.testimonials-card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 100px;
    min-height: 120px;
}

.testimonials-card h3 {
    font-size: 24px;
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    transform: translate(-50%, -50%);
    left: 50%;
    text-wrap: nowrap;
}

.testimonials-card h4 {
    font-size: 20px;
    color:rgb(138, 138, 138);
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    transform: translate(-50%, -50%);
    left: 50%;
}

.testimonials-card img {
    border-radius: 100%;
    border: 5px solid rgb(224, 224, 224);
    width: 92px;
    height: 92px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.nav-bar {
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 6px 0 6px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 25px;
    justify-content: space-around;
    padding: 0%;
    margin: 0;
}

.nav-link a {
    text-decoration: none;
    color: rgb(212, 212, 212);
}

.nav-links a:hover {
    color: rgb(184, 183, 183);
}

footer {
    padding: 16px 0 16px 0;
    background-color: rgb(54, 54, 54);;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-icons .fa {
    font-size: 50px;
}

.fa-facebook-f {
    color: #1877F2;
}

.fa-instagram {
    color: #DD2A7B;
}

.fa-youtube-play {
    color: #FF0000;
}

.footer-links {
    color:rgb(212, 212, 212);
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0%;
    gap: 24px;
    font-size: 20px;
}

.copyright {
    color:white;
    text-align: center;
    font-size: 17px; 
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    color:gray;
    
}

.social-icons i:hover {
    color:white;
    
}

.contact

#contact {
    text-align: center;
    font-size: 48px;
    left: 50%;
    transform: translateX(-50%);

}

#contact-form {
    max-width: 350px;
    text-align: left;
    margin: auto auto 20px auto;
}

input[type="text"], input[type="email"]
{
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

input[type="button"]{
    width: 100%;
    padding: 8px;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 12px;
    background-color: rgb(164, 164, 164);
    color: rgb(250, 250, 250);
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

input[type="button"]:hover {
    background-color: rgb(126, 126, 126);
}

textarea {
    resize: none;
    width: 100%;
    padding: 8px;
    height: 100px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.tickets {
    position: relative;
    text-align: left;
    margin: auto auto 40px auto;
    width: 80%;

}

.ticket {
    position: relative;
    text-align: left;
    height: 150px;
    width: 80%;
    margin: auto;
    border-top: black 3px solid;
}

.ticket-img {
    position: absolute;
    margin: auto;
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}

.ticket-btn {
    position: absolute;
    width: 90px;
    height: 40px;
    margin: auto;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(116, 116, 116);
    color: rgb(231, 231, 231);
    border: none;
    font-size: 15px;
}

.ticket-btn:hover {
    background-color: rgb(165, 165, 165);
    color: rgb(220, 220, 220);
}

.ticket-text {
    position: absolute;
    left: 30%;
    top: 30%;
    color: rgb(0, 0, 0);
}

.tickets-headline {
    color: black;
    font-size: 38px;
    margin: 20px 40px 20px 60px;
}

.tickets h3 {
    color: black;
    font-size: 30px;
    margin: 15px 15px 15px 100px
}

.merch-headline {
    position: relative;
    left: 5%;
    font-size: 45px;
    width: 200px;
}

.merch-cards {
    position: relative;
    top: 10px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 650px 650px;
    margin: auto auto 50px auto;
    gap: 100px;
    width: 1310px;
}

.merch-card {
    background-color: #d8d8d8;
    margin: 10px 10px 50px 10px;
    height: 650px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.merch-img {
    width: 100%;
    height: 47%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.merch-card-headline {
    position: absolute;
    width: 90%;
    margin: auto 5% auto 5%;
    text-align: center;
    font-size: 170%;
    top: 50%;
}

.merch-card-description {
    position: absolute;
    width: 80%;
    margin: auto 10% auto 10%;
    text-align: center;
    font-size: 110%;
    top: 65%;
}

.merch-price {
    position: absolute;
    width: 80%;
    margin: auto 10% auto 10%;
    text-align: center;
    font-size: 200%;
    top: 75%;
}

.merch-size {
    width: 35%;
    margin: 67% 50.5% auto 14.5%;
    font-size: 160%;
    background-color: rgb(248, 248, 248);
    border:none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.merch-color-black {
    position: absolute;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-color: #000000;
    left: 53%;
    top: 84.3%;
}

.merch-color-white {
    position: absolute;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    left: 53%;
    top: 84.3%;
}

.merch-color-blue {
    position: absolute;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-color: #5163bd;
    left: 53%;
    top: 84.3%;
}

.merch-quantity {
    width: 15%;
    margin: 80% 50.5% auto 14.5%;
    font-size: 165%;
    position: absolute;
    left: 0;
    background-color: rgb(248, 248, 248);
    border:none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.merch-buy-btn {
    position: absolute;
    width: 55%;
    font-size: 165%;
    top: 90.69%;
    left: 32%;
    font-weight: bold;
    background-color: rgb(248, 248, 248);
    border:none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

